/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Monofett);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Nobile:400,700);
body {
	background-image: url(../imgs/brickwall.png);
}
/*Default Header Styles//////////////////////////////////////////////*/
header {


}
.clearfix {
  overflow: auto;
}
/*Logo Stylings*/
#logo {
	font-family: 'Monofett', cursive;
	font-size: 3em;
	color: #DB222A;
	float: left;
	margin-top: 0;
	margin-left: 1%;
}
 span {
	color: #053C5E;
}
/*Nav bar stylings*/
nav {
	float:right;
	clear:right;
	
}
nav a{
	display: inline-block;
	text-decoration: none;
	font-family: 'Nobile', serif;
	font-size: 1.3em;
	margin-right: 2em;
	margin-top: 2em;
	color: black; 

}
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #053C5E;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
 }

 /*Social Media Stylings*/
#social {
	float:right;
}

#social img {
	width:7%;
	float: right;
}
/*Main Stylings for index////////////////////////////////////////*/
main {
	width: 100%;


}

/*Banner Stylings*/
#banner {
	height:5%;
}
#banner img {
	width:100%;
}
/*Circle stylings*/
#circle-container {
	width:50%;
	margin: auto;
	margin-top: 3%;
}
#circle-container a {
	color: black;
}
.circle {
	
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 200px;
	background-color: rgb(128, 128, 128);
	overflow: hidden;
}
.circle h1 {
	font-family: 'Nobile', serif;	
	font-size: 1.5em;
	text-align: center;
	margin-top:20%;
}

.circle {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.circle:hover, .circle:focus, .circle:active {
  background-color: #2098d1;
  color: white;
}
/*About Section*/
#about-container {
	display: block;

}
.about {
	
	display: inline-block;
	width: 30%;
	margin-left: 13%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-left: 1px solid #053C5E;
	border-bottom: 1px solid  #053C5E;
	padding: 1em;
}
.about h1 {
	text-align: center;
	font-family: 'Nobile', serif;
}

/*Footer Stylings/////////////////////////////*/

footer {
	width: 100%;
}
#copy {
	position: fixed;
	bottom: 0;
}
/*#links {
	width: 20%;
	display: inline-block;
	margin: auto;
}
#links ul {
	list-style-type: none;
	text-align: left;

}*/


footer #social {
	float: none;
	margin-left: 41%
}

footer #social img {
	float: none;
}



