/*General html stylings*/
html {
	/*opacity: 0.5;*/
}
body, .jumbotron {
		background: url(../images/paper.jpg) 0 0 repeat;

}

/*p {
	color: white;
} */

h1, h2, h3 {
	color:rgb(83, 150, 204);
}

/* Main Header Displays */

#headshot {
	width:12%;
	border-radius: 60%;
	margin-bottom: 2rem;
}

/*Informational Sections*/

.information {

}

.card{
		background: url(../images/notebook.png);
		background-size: cover;
		padding: 5rem;
		border:none;

}

/*Projects*/

.project {
	padding-top: 3rem;
	padding-left: 4rem;
	text-align: left;

}
.project img{
	width:90%;
}







